<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Study Buddy</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<nav class="indigo darken-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Study Buddy</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            {% if g.user %}
                <li><span>{{ g.user['firstname'] }} {{ g.user['lastname'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<body class="grey darken-3">
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        <!--JavaScript at end of body for optimized loading-->
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='materialize.js') }}"></script>    
</body>
