{% extends 'base.html' %}

<h1>{% block title %}Menu{% endblock %}</h1>

{% block content %}
<div class="row"></div>
<div class="row">
    <div class="col s4 hoverable center-align">
        <a class="row" href="{{ url_for('findpartner.findpartner') }}">
            <img class="col s12" src="{{ url_for('static', filename='tanulotars.png')}}" alt="">
        </a>
    </div>
    <div class="col s4 hoverable center-align">
        <a class="row" href="{{ url_for('findgroup.findgroup') }}">
            <img class="col s11" src="{{ url_for('static', filename='csapat.png')}}" alt="">
        </a>
    </div>
    <div class="col s4 hoverable center-align">
        <a class="row" href="">
            <img class="col s12" src="{{ url_for('static', filename='korrep.png')}}" alt="">
        </a>
    </div>
</div>
<div class="row">
    <a class="col s1 right"  href="{{ url_for('profile.profile') }}">
        <img class="hoverable" width="85%" height="85%" src="{{ url_for('static', filename='profil.png')}}" alt="">
    </a>
</div>
{% endblock %}
