{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="white-text">{% block title %}Log In{% endblock %}</h1>
    <div class="row">
        <form method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <label for="neptun">Neptun ID</label>
                    <input name="neptun" id="neptun" type="text" class="validate" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </form>
    </div>
</div>
{% endblock %}