{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="white-text">{% block title %}Register{% endblock %}</h1>
        <div class="row">
            <form method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="neptun">Neptun ID</label>
                        <input name="neptun" id="neptun" type="text" class="validate" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="firstname">First Name</label>
                        <input name="firstname" id="firstname" type="text" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="lastname">Last Name</label>
                        <input name="lastname" id="lastname" type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                </div>          
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>        
            </form>
        </div>
    </div>
{% endblock %}