{% extends 'base.html' %}

{% block title %}Find Group{% endblock %}

{% block header %}
<div class="center">
    <h1>{{ group.name }}</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row center">
        <p class="col s12">{{ group.desc }}</p>
    </div>
    <div class="row center">
        {% for member in group_members %}
        <p class="col s12">{{ member.firstname }} {{ member.lastname }}</p>
        {% endfor %}
    </div>
    <div>
        <div class="row">
            <form class="col s12">
                <div class="row center">
                    <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Message</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}